body,
html {
  padding: 0;
  margin: 0;
  height: 100%; }

ul {
  padding: 0;
  margin: 0; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 25px;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 0; }

h1,
h2,
h3 {
  margin: 0; }

p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 17px; }

h1 {
  font-family: "Anton", sans-serif;
  font-size: 100px;
  text-shadow: 2px 2px black; }

h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 32px; }

h3 {
  text-align: center; }

.heading {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: white;
  width: 100%;
  top: 15%; }
  .heading h2 {
    text-shadow: 2px 2px black; }
  .heading h3 {
    text-shadow: 2px 2px black; }

.main-image {
  background-image: url("/resources/img/fox-den-background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main-image:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); }

.about {
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  text-align: center;
  background-color: white;
  color: black; }
  .about .about-image {
    width: 75%;
    padding-top: 20px; }
  .about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .about p {
    text-align: justify; }
  .about .about-content-image {
    padding-top: 15px;
    width: 20%; }
  .about .about-content {
    width: 50%;
    padding-top: 5px; }

.staff {
  width: 100%;
  background-image: url("/resources/img/winter-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
  color: white; }
  .staff h3 {
    font-family: "Oswald", sans-serif; }
  .staff .staff-outer-container {
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .staff .staff-container {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(4, 20%); }
  .staff .staff-content {
    text-align: center; }
  .staff .staff-image {
    width: 100%;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    -webkit-transition: ease 0.4s;
    transition: ease 0.4s; }
    .staff .staff-image:hover {
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      cursor: pointer; }
  .staff .link-container {
    width: 100%;
    text-align: center;
    padding: 50px 0 20px; }
    .staff .link-container a {
      font: 20px bold;
      font-family: "Oswald", sans-serif;
      text-align: center;
      border: 2px solid white;
      border-radius: 10px;
      width: 75%;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.45);
      color: black;
      text-decoration: none;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }
      .staff .link-container a:hover {
        background-color: rgba(255, 255, 255, 0.6); }

.ourfoxden {
  padding: 50px 0;
  background-color: white;
  margin: 0;
  color: black; }
  .ourfoxden h2 {
    text-align: center;
    font-weight: bold; }
  .ourfoxden p {
    text-align: justify; }
  .ourfoxden img {
    padding-top: 10px; }
  .ourfoxden .ourfoxden-container {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(2, 40%); }
  .ourfoxden .ourfoxden-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0 20px; }
  .ourfoxden .ourfoxden-content-paragraph {
    width: 70%; }
  .ourfoxden .ourfoxden-content-image {
    width: 30%; }

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }
  .modal .modal-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .modal .modal-image {
    width: 30%; }
  .modal .modal-text {
    width: 60%;
    padding-right: 3%;
    text-align: justify; }
  .modal .modal-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%; }
    .modal .modal-content .staff-image {
      border-radius: 50%;
      width: 175px;
      height: 175px; }
    .modal .modal-content .close {
      cursor: pointer;
      float: right; }

.stats {
  background-color: black;
  color: white;
  padding: 50px 0; }
  .stats h2 {
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: white;
    margin: 0; }
  .stats h3 {
    font-size: 60px;
    font-family: "Oswald", sans-serif;
    margin: 0;
    line-height: 1; }
  .stats .stats-container {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.logo,
.nav-list,
.sm-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Dosis", sans-serif;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center; }

.sub-menu {
  margin-top: 25px;
  display: none;
  position: absolute;
  background-color: black;
  border-radius: 0px 0px 5px 5px;
  list-style: none; }
  .sub-menu .nav-subitem {
    padding: 10px;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s; }
    .sub-menu .nav-subitem:hover {
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.2); }

.show {
  display: block; }

.logo,
.sm-nav-list {
  width: 10%; }

.nav-list {
  width: 60%; }

.logo,
.nav-item,
.sm-nav-item {
  list-style: none; }

.nav-item {
  color: grey; }

.nav-item-link {
  text-decoration: none;
  color: gray;
  padding: 20px; }

.nav-item-link:hover > .nav-item {
  border-bottom: 1px solid white; }

.selected {
  color: white; }

.blurb {
  padding: 50px 0; }
  .blurb .blurb-container {
    margin: 0 auto;
    width: 45%; }
  .blurb p {
    text-align: center; }
  .blurb form {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "name message message message" "email message message message" "subject message message message" ". . . submit"; }
    .blurb form .input {
      resize: none;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      color: #444444;
      padding: 5px;
      border: 2px solid #A6A6A5;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 5px;
      width: 90%;
      height: 20px;
      margin: 5px; }
      .blurb form .input:focus {
        outline-color: #a0a0a0; }
    .blurb form .big-input {
      resize: none;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      color: #444444;
      padding: 5px;
      border: 2px solid #A6A6A5;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.1);
      width: 98%;
      height: 84%;
      margin-top: 5px; }
      .blurb form .big-input:focus {
        outline-color: #a0a0a0; }
    .blurb form .button {
      font: 20px bold;
      font-family: "Oswald", sans-serif;
      text-align: center;
      border: 2px solid white;
      border-radius: 10px;
      width: 75%;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.45);
      color: black;
      text-decoration: none;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s;
      background-color: rgba(0, 0, 0, 0.8);
      border-color: black;
      color: white; }
      .blurb form .button:hover {
        background-color: black;
        cursor: pointer; }
    .blurb form label {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: bold;
      margin: 0 0 0 5px;
      font-size: 20px; }
    .blurb form #name {
      grid-area: name; }
    .blurb form #email {
      grid-area: email; }
    .blurb form #subject {
      grid-area: subject; }
    .blurb form #message {
      grid-area: message; }
    .blurb form #submit {
      grid-area: submit;
      justify-self: end; }

footer {
  background-color: #999999; }
  footer .footer-container {
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer .footer-container {
    padding: 50px 0; }
  footer .footer-item {
    text-align: center;
    margin: 5px 0px 5px 0px; }
  footer a {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin: 0px;
    text-decoration: none;
    color: black; }
    footer a:hover {
      color: rgba(0, 0, 0, 0.8); }
